# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

nuxt-build

# Logs
logs
*.log
dist 


# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.*
!.env.example


src-tauri/target

