
body {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.8);
}

.dark body {
    background-color: #2b2b2b;
    color: #ebf4f1;
}


:root {
    --dark-bg-color : #2b2b2b;
    --light-bg-color : #f5f5f5;
}